<div class="view">
    <div class="hscroll">
        <button class="btn-scroll"> Home</button>
        <button class="btn-scroll"> Music</button>

        <button class="btn-scroll"> Mixes</button>
        <button class="btn-scroll"> Gaming </button>
        <button class="btn-scroll"> Bollywood Music</button>
        <button class="btn-scroll"> Live </button>
        <button class="btn-scroll"> Playlists </button>
        <button class="btn-scroll"> Shark Tank</button>
        <button class="btn-scroll"> CSS</button>
        <button class="btn-scroll"> HTML</button>
        <button class="btn-scroll"> Python </button>
    </div>

    <app-video-container />


</div>