<div class="videos-container">
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>

    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>
    <div class="video">
        <img src="download.jpg" alt="Video 1 Thumbnail">

        <div class="video-details">
            <div class="vd1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-fill youtuber-icon" viewBox="0 0 16 16" style="color:white">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <div class="vd2">
                <h2>
                    Download Best Thumbnails
                </h2>
                <p>Thumbnails Kings</p>
                <div class="views">
                    <span>1,000,000 views</span>
                    <span>•</span>
                    <span>2024</span>
                </div>
            </div>
        </div>
    </div>


</div>