/* You can add global styles to this file, and also import other style files */
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.homepage{
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}


.dashboard{
    display: flex;
    flex-direction: row;
    /* align-items:flex-start; */
    width: 100%;
    height: calc(100vh - 56px);
}

.sidebar{
    padding: 0px 0px 0px 0px;
    background-color: black;
    font-size:x-small;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.view{
    padding: 0px 0px 0px 0px;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hscroll{
    /* border: 2px solid white; */
    height: 80px;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.btn-scroll{
    background-color: #ffffff1f;
    color:white;
    padding: 5px 12px 5px 12px; 
    margin :  8px;
    font-size: 14px;
    border-radius: 8px;
    font-weight:600;
    border: 2px solid black;
}

.btn-scroll:hover{
    background-color: white;
    color: black;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.video {
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px 20px 20px 20px;
    margin-top:25px;
    margin-bottom: 20px;
    margin-right: 5px ;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(15, 12, 12);
}

.video img {
    width: 100%;
    border-radius: 8px;
}

.video-details {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
}

.vd1{
    height: 100%;
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vd2{
    height:100%;
    width:85%;
    /* border: 1px solid beige; */
}
.vd2 h2 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
    display: flex;
    align-items: center;
}
.vd2 h2  {
    margin-right: 20px;
}

.vd2 p {
    margin-bottom: 5px;
    color: #f9f9f9;
}

.views span {
    margin-right: 5px;
    color: white;
}

.youtuber-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.user-profile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color : white;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    height: 45px;

}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: white;
    padding: 5px;
    font-size: 15px;
}

.user-profile small {
    font-size: 12px;
}

.user-profile span {
    font-size: 13px;
    /* color: #9a9a9a; */
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #ffffff;
    color:black;
    border-radius: 4px;
    overflow: hidden;
    top: 10%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
    z-index: 100;
    overflow-y: scroll;
}

.settings-menu-height {
    max-height: 450px;

}

.user-profile a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.settings-menu-inner {
    padding: 20px;
}


.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color:white
}

.settings-links .settings-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}
